
<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.done %>
        <s><%= task.name %></s>
        <%= link_to 'Undo', task_done_path(task), method: :patch %>
      <% else %>
        <%= task.name %>
        <%= link_to 'Done', task_done_path(task), method: :patch %>
      <% end %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Delete', task_path(task), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create new task', new_task_path %>
